* {
    --background-color: rgb(43, 43, 43);
    --content-color: rgb(255, 255, 255);
    --text-color: rgb(43, 43, 43);
    --update-color: rgb(204, 0, 255);

    margin: auto;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 0;
}

body {
    background-color: var(--background-color);
}

.content {
    background-color: var(--content-color);
    max-width: 70vw;
    color: var(--text-color);
    padding: 16px;
    font-size: 24px;
    box-shadow: 10px 10px 0px -5px rgb(146, 146, 146);
}

.rainbow {
    background: linear-gradient(to right, #ff0400, rgb(255, 0, 191), #5d00ff, #008cff, #00e1ff, #00ff0d, #eaff00, #ff9d00, #ff3c00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.update {
    color: var(--update-color);
}

img {
    background-color: white;
}

hr {
    border-top: 8px solid var(--text-color);
}

.header {
    text-align: center;
    font-size: 1.75rem;
}